
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Contain{
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	/* height: 87vh; */
	width: 80vw;
	margin-bottom: 1%;
	border-radius: 16px 16px;
	margin-top: 1%;
	padding: 1% 5%;
}
@media (max-width: 640px) { 
	.Contain{
		border-radius: 0;
		margin: 0;
		/* height: 90vh; */
		width: 100vw;
	}
}
.Canvas{
	display: flex;
	justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
