.App-up{
	/* display: none; */
	position: fixed;
	right: 1.3%;
	bottom: 10%;
	background-color: hsl(var(--a));
	border-width: 0.3em;
}
@media (max-width: 640px) {
	.App-up{
		/* top: 2%; */
		bottom: 1%;
		left: 0;
		width: 92vw;
		background-color: hsl(var(--a));
		margin: 3% 4%;
	}
}
.Contain{
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	/* height: 87vh; */
	width: 80vw;
	margin-bottom: 1%;
	border-radius: 16px 16px;
	margin-top: 1%;
	padding: 1% 3%;
}
@media (max-width: 640px) { 
	.Contain{
		border-radius: 0;
		margin: 0;
		padding: 1% 3%;
		width: 100vw;
	}
}
.Canvas{
	display: flex;
	justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
