img{
	margin-left: auto;
	margin-right: auto;
}


.App-up{
	background-color: hsl(var(--a));
	position: fixed;
	border-width: 0.3em;
	width: 90vw;
	height: 3rem;
	right: 5%;
	bottom: 4%;
}

@media (min-width: 1200px)  {
	.App-up{
		width: 15vw;
	}
}

@media (min-width: 1000px)  {
	.App-up{
		width: 9vw;
		height: 7rem;
		right: 0;
		bottom: 4%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
