
.card{
    margin: 0.9%;
}

.News-card{
    padding: 3% 6% 2%;
    
}

.Bottombtn{
    margin-right: 2%;
    margin-bottom: 2%;
}

.Interact{
    margin: 0;
}
/* .btn-circle:hover{
    background-color: rgba(253, 253, 253, 0);
} */