
.New-card{
    margin: 1%;
    width: 100%;
}

.News-card{
    padding: 2% 2% 1.7%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    gap: 0.3em;
}

.Content-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
}

.Posted-by{
    text-overflow: ellipsis;
    max-width: 25vw;
}

.View-post{
    padding-left: 1rem;
    padding-right: 1rem;
}

.Bottombtn{
    margin: 0 2% 2.3%;
    justify-content: flex-start;
    /* width: 30%; */
}

.Interact{
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.Actions{
    display: flex;
    justify-content: space-between;
    padding: 1% 2% 0.5%;
}

.Time{
    margin-right: 2%;
}
