
.New-card{
    margin: 1%;
    width: 100%;
}

.News-card{
    padding: 2%;
    margin-left: 2%;
    margin-top: 1%;
}

/* .H2inline{
    display: inline;
} */

/* .Posted-by{
    display: flex;
    justify-content: flex-end;
} */

.Bottombtn{
    margin: 0 2% 2.3%;
    justify-content: flex-start;
    /* width: 30%; */
}

.Interact{
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.Actions{
    display: flex;
    justify-content: space-between;
    padding: 1% 2% 0.5%;
}

.Time{
    margin-right: 2%;
}


@media (max-width: 390px){
    .Cmt{
        display: none;
    }
}