.navbar{
	position: fixed;
	top: 0;
	z-index: 99;
	display: flex;
	justify-content: space-between;	
	gap: 0.5rem;
	padding-right: 0.7rem;
	padding-left: 0.7rem;
}

.Logo{
	padding: 0 0.55rem;
	width: 3.5rem;
	max-width: 55px;
}

.Searchbar{
	width: 3.7rem;
	color: hsl(var(--a));
}

/* @media (max-width: 1024px){
	.Searchbar:focus{
		width: 90vw;
	}
} */

@media (max-width: 640px){
	/* .Searchbar{
		width:20vw;
	}
	.Searchbar:focus{
		width: 40vw;
	} */
}

/* @media (max-width: 425px) {
	.Logo{
		display: none;
	}
} */